* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: black;
    font-family: "", "Sans-serif";
}

.inner {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.head-container {
    margin-top: 2rem;
    width: 100%;
    height: 170px;
}

.head-title {
    text-align: center;
    line-height: 170px;
    font-size: 5rem;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section {
    width: 100%;
}

.section-content-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-content-img > img {
    width: 300px;
    border: 5px solid #FFEA00;
}

.section-start-button {
    margin-top: 10px;
    width: 300px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #33ff00;
    background-color: #8cfa70;
    text-align: center;
    line-height: 80px;
    font-size: 2.5rem;
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.section-start-button:hover {
    border: 3px solid #ffdd00;
    background-color: #ffff00;
    font-weight: 500;
}

.section-desc-button {
    margin-top: 10px;
    width: 300px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #616161;
    background-color: #9E9E9E;
    text-align: center;
    line-height: 80px;
    font-size: 2.5rem;
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.section-desc-button:hover {
    border: 3px solid #ffdd00;
    background-color: #ffff00;
    font-weight: 500;
}

aside {
    position: absolute;
    left: 50px;
    top: 250px;
    width: 350px;
    border: 1px solid #E0E0E0;
    transition-property: all;
    transition-duration: 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

aside.show {
    opacity: 1;
    visibility: visible;
}

.aside-container {
    width: 100%;
}

.aside-head-title {
    margin-top: 20px;
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 1.25rem;
    font-family: "Orbit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.aside-desc-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aside-desc-content li {
    font-size: 0.9rem;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
}

.aside-out-button {
    margin-bottom: 15px;
    width: 100%;
    height: 30px;
    border: 1px solid #E0E0E0;
    text-align: center;
    line-height: 30px;
    font-size: 1rem;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    cursor: pointer;
}

.aside-out-button:hover {
    background-color: #FAFAFA;
    font-weight: 500;
    border: 1.5px solid #BDBDBD;
}

@media only screen and (max-width: 1300px) {
    aside {
        width: 350px;
        top: 220px;
    }
}

@media only screen and (max-width: 1200px) {
    aside {
        width: 270px;
        top: 220px;
    }
}

@media only screen and (max-width: 1100px) {
    aside {
        width: 230px;
        top: 215px;
    }
}

@media only screen and (max-width: 950px) {
    aside {
        width: 210px;
        top: 215px;
        left: 35px;
    }
}

@media only screen and (max-width: 850px) {
    aside {
        width: 200px;
        top: 200px;
        left: 25px;
    }
}



